body{
	background-color: lightblue;
}
.curso{
	width: auto;
	height: auto;
	overflow: hidden;
}
.curso img{
	display: block;
}
img {
  /*width: auto;
  height: auto;*/
}

#derecha
{
	float: right;
	width: 50%;
}

#izquierda
{
	float: left;
	width: 50%;
}
#cursos
{
	width: 100%;
	text-align: center;
}

p
{
	text-align: left;
}