body{
	background-color: white;
}
img {
  width:50%;
  height:auto;
}
#derecha
{
	float: right;
}

#izquierda
{
	float: left;
}
#cursos
{
	text-align: center;
}
#HeaderACM, #HeaderACM > img
{
	width:100%;
  	height:auto;
}