body{
	background-color: lightblue;
}
h3, p{
	color: white;
}

/*.curso .detalles{
	position: absolute;
	display: inline;
	width: auto;
}*/


.curso{
	width: auto;
	/*height: 350px;*/
	max-height: 350px;
	overflow: hidden;
	background-repeat: no-repeat;
    background-position: center; 
    
}
.detalles{
	visibility: hidden;
}

h3:hover{
	visibility: visible !important;
}

/*.curso:hover{
	opacity: 0.5;
	visibility: visible;
}*/

.curso img{
	display: block;
}
img {
  height: 300px;
  /*height: auto;*/
}

#derecha
{
	float: right;
	width: 50%;
}

#izquierda
{
	float: left;
	width: 50%;
}
#cursos
{
	width: 100%;
	text-align: center;
}

p
{
	text-align: left;
}